a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}



#recaptcha-container {
  margin: 20px;
}
